<div class="sidebar">
  <div class="sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{@blog.title}}</h1>
      <p class="lead">{{@blog.description}}</p>
    </div>

    <ul class="nav nav-pills">
      <li>
        <a href="/" title="Home">
          <i class="fa fa-home"></i>
        </a>
      </li>

      <li>
        <a href="mailto:tim@tstrimple.com" title="Email tim@tstrimple.com">
          <i class="fa fa-envelope"></i>
        </a>
      </li>

      <li>
        <a href="http://github.com/tstrimple" title="tstrimple on Github">
          <i class="fa fa-github"></i>
        </a>
      </li>

      <li>
        <a href="http://stackoverflow.com/users/28779/timothy-strimple" title="tstrimple on stackoverflow">
          <i class="fa fa-stack-overflow"></i>
        </a>
      </li>

      <li>
        <a href="http://twitter.com/tstrimple" title="@tstrimple on Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
    </ul>    
  </div>
</div>
